<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Jinstagram login</title>
</head>
<style>
    .floating_form {
        margin: 0px 30px;
    }

    .floating_label {
        margin-top: -4px;
        font-size: 14px;
    }

    .floating_input {
        height: 50px !important;
        padding-top: 20px !important;
        font-size: 14px !important;
    }

</style>
<body style="background-color: #FAFAFA;height: 100%">
<div style="font-size: 14px;text-align: center;width: 100%;min-height: 100vh;display: flex; flex-direction: row; align-items: center; justify-content: center">
    <div>
        <div class="mb-3" style="background-color: white; width: 350px; height: 380px; border: 1px solid rgba(0, 0, 0, 0.18);">
            <div style="display: flex;align-items: center;justify-content: center">
                <img style="height: 50px; object-fit: contain; margin: 30px 0"
                     src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png">
            </div>
            <div class="form-floating mb-2 floating_form">
                <input type="email" class="floating_input form-control" id="floatingInput"
                       placeholder="name@example.com">
                <label for="floatingInput" class="floating_label">Email address</label>
            </div>
            <div class="form-floating mb-3 floating_form">
                <input type="password" class="floating_input form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword" class="floating_label">Password</label>
            </div>
            <div class="floating_form mb-3">
                <button type="button" class="btn btn-primary" style="width: 100%"> 로그인</button>
            </div>
            <div class="mb-2" style="display: flex; align-items: center; justify-content: space-between">
                <hr style="border:1px silver;margin-left: 30px;width: 100px">
                또는
                <hr style="border:1px silver;margin-right: 30px;width: 100px">
            </div>
            <div style="font-weight: bold; color: royalblue">
                테스트로 로그인 (둘러보기)
            </div>
        </div>

        <div style="background-color: white; width: 350px; height: 70px; border: 1px solid rgba(0, 0, 0, 0.18);">
            <div style="margin-top: 25px">
                계정이 없으신가요? <span style="font-weight: bold; color: cornflowerblue">가입하기</span>
            </div>
        </div>
    </div>


</div>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
-->
</body>
</html>